@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0px;
  padding: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Hide scrollbar but allow scrolling */
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

/* Chrome, Edge, Safari */
.transparent-scrollbar::-webkit-scrollbar {
  width: 6px; /* or height: 6px; for horizontal */
  height: 6px;
}

.transparent-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.transparent-scrollbar::-webkit-scrollbar-button{
  display: none;
}

.transparent-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4); /* transparent thumb */
  border-radius: 4px;
}

/* Firefox */
.transparent-scrollbar {
  scrollbar-width: thin;            /* thinner scrollbar */
  scrollbar-color: rgba(0,0,0,0.4) transparent;
}
